.login-card {
  background-color: rgb(0, 173, 239);
  position: absolute;
  left: 38vw;
  top: 15vh;
  width: 24vw;
  height: 60vh;
  color: white;
  position: relative;
}
.username {
  font-size: 60px;
  font-weight: 200;
}
#login-button {
  left: 10px;
  bottom: 10px;
  position: absolute;
}
body {
  font-family: "Raleway";
}
